/* основний колір тексту  #434455 */
/* втоичний колір тексту #2E2F42 */ 
/* білий #FFFFFF */
/* акцент #4D5AE5 */ 
/* колір 3 секції #F4F4FD */
/* колір футера і хедера #2E2F42 */
/* колір тексту в футері #E7E9FC */

:root {
 --primary-text-color: #434455;
 --secondary-text-color: #2e2f42;
 --accent-color: #4D5AE5; 
 --primary-bg-color: #ffffff;
 --secondary-bg-color: #F4F4FD;
 --bg-color-foot-head: #2E2F42;
 --text-footer-color: #E7E9FC
 
}
body {
   background-color: #FFFFFF;
    color: var(--primary-text-color); 
    font-family: 'Roboto', 'Raleway', sans-serif;
}


/* header logo */
.logo-link {
    Font-family: Raleway;
    Font-style: ExtraBold;
    font-weight: 800;
    Font-size: 18px;
    Line-height: 1.14;
    Letter-spacing: 3%;
    text-decoration: none; 
    color: var(--secondary-text-color);
    
}
.logo-link:hover,
.logo-link:focus {
    color: var(--accent-color)
}
.logo {
    color: var(--accent-color);
}
/* header nav links */
.nav-list {
    Font-family: inherit;
    Font-style: SemiBold;
    font-weight: 600;
    Font-size: 16px;
    Line-height: 1.28;
    Letter-spacing: 2%;
    text-decoration: none;  
    color: var(--secondary-text-color);
}
.nav-list:hover,
.nav-list:focus {
    color: var(--accent-color);
}
/* header contacts */
.contact-links {
    Font-family: inherit;
    Font-style: Regular; 
    Font-size: 16px;
    Line-height: 1.28%;
    Letter-spacing: 2%;
    text-decoration: none;
    color: var(--primary-text-color);
}
.contact-links:hover,
.contact-links:focus {
    color: var(--accent-color);
}
/* main hero section */
/* добавив background тому що не видно текст */
.hero-title{
    Font-family: inherit;
    Font-style: SemiBold;
    font-weight: 600;
    Font-size: 56px;
    Line-height: 0.91;
    Letter-spacing: 2%;  
    background-color: var(--bg-color-foot-head);
    color: var(--primary-bg-color)
}
/* hero button */
.hero-btn {
     Font-family: inherit;
    Font-style: SemiBold;
    font-weight: 600;
    Font-size: 16px;
    Line-height: 1;
    Letter-spacing: 4%;
    color: var(--primary-bg-color);
    background-color: var(--accent-color);

    cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #404BBF;
}

 /* section qualities */
 

 .qualities-list-title {
    Font-family: inherit;
    Font-style: SemiBold;
    font-weight: 600;
    Font-size: 20px;
    Line-height: 1.02;
    Letter-spacing: 2%;
    color: var(--secondary-text-color);
 }

 .qualities-description {
    Font-family: inherit;
    Font-style: Regular;
    Font-size: 16px;
    Line-height: 1.28;
    Letter-spacing: 2%;
    color: inherit;

 }

 /* section work */

 .work-title {
    Font-family: inherit;
    Font-style: SemiBold;
    font-weight: 600;
    Font-size: 36px;
    Line-height: 0.95;
    Letter-spacing: 2%;
    color: var(--secondary-text-color);
 }

 /* section team */

 .team-title {
    Font-family: inherit;
    Font-style: SemiBold;
    font-weight: 600;
    Font-size: 36px;
    Line-height: 0.95;
    Letter-spacing: 2%;
    color: var(--secondary-text-color);
 }

 .team-titles {
    Font-family: inherit;
    Font-style: SemiBold;
    font-weight: 600;
    Font-size: 20px;
    Line-height: 1.02;
    Letter-spacing: 2%;
    color: var(--secondary-text-color); 
 }

 .specialty  {
    Font-family: inherit;
    Font-style: Regular;
    Font-size: 16px;
    Line-height: 1.28;
    Letter-spacing: 2% ;   
    color: inherit;
 }

 /* footer */

 .footer-text {
    Font-family: inherit; 
    Font-style: Regular;
    Font-size: 16px;
    Line-height: 1.28;
    Letter-spacing: 2%;  
    color: var(--text-footer-color); 
 }

 .logo-footer {
    font-style: normal;
 }

/* portfolio main page */

.main-title {
  color: var(--secondary-text-color);  
}

/* filter button */

.filter-btn {
    Font-family: inherit;
    Font-style: SemiBold;
    font-weight: 600;
    Font-size: 16px;
    Line-height: 1.28;
    Letter-spacing: 4%;
    color: var(--accent-color);
    background-color: var(--secondary-bg-color);

    cursor: pointer;
}
.filter-btn:hover,
.filter-btn:focus {
    background-color:  var(--accent-color);
    color: var(--primary-bg-color);
}


/* section gallery */

.gallery-list a{
    text-decoration: none;
    cursor: pointer;
}

.gallery-title {
    Font-family: inherit;   
    Font-style: SemiBold;
    font-weight: 600;
    Font-size: 20px;
    Line-height: 1.02;
    Letter-spacing: 2%;
    color: var(--secondary-text-color);
}

.gallery-product {
    Font-family: inherit;
    Font-style: Regular;
    Font-size: 16px;
    Line-height: 1.28;
    Letter-spacing: 2%;
    color: var(--primary-text-color);
}

.gallery-text {
    Font-family: inherit;
    Font-style: Regular;
    Font-size: 16px;
    Line-height: 1.28;
    Letter-spacing: 2%;
    color: var(--secondary-bg-color);
}